
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1m h2 {
  font-family: "Nunito Sans", sans-serif;
  margin: 15px 0px 15px 0px;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}
p{
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.7rem;
    font-size: 1.1em;
}
section {
  padding-left: 30px;
  padding-right: 30px;
}
div {
  padding: 15px;
}

ol {
  padding: 15px 10px 15px 45px;
}

button,
#btnSubmit {
  padding: 12px 18px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 18px;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 0px 27px 23px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  color: powderblue;
  transition: 0.2s;
}

#btnSubmit:hover {
  color: powderblue;
  transition: 0.2s;
}

.herohome {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: url(../assets/img/hero.jpg);
  background-size: cover;
  background-position: top center;
  background-blend-mode: overlay;
  padding: 35px;
  text-align: left;
  color: azure;
  min-height: 40vh;
}

.herohome h1 {
  font-size: 44px;
}
.herohome h2 {
  font-size: 1.4em;
}

.herohome p {
  font-size: 1.2em;
  max-width: 45%;
}

.bggray {
  background-color: #333;
  color: #f4f4f4;
  width: 100%;
  padding: 25px 15px;
  text-align: center;
}

.encabezados {
  background: linear-gradient(
    45deg,
    rgba(15, 37, 110, 1) 12%,
    rgba(7, 81, 179, 1) 84%
  );
  background-blend-mode: normal;
  border-radius: 16px;
  text-align: center;
}

.encabezados h1 {
  color: #ffffff;
}


/* COMIENZA CSS BOX MODEL */

.flexbox {
border: solid 1px #ccc;
background-color: #f4f4f4;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: stretch;
gap: 15px;
padding: 30px;
margin: 30px;
border-radius: 16px;
}

.flex-interior {

}

.tarjeta {
  flex-direction: column;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  /*flex-basis: 200px;*/
  text-align: center;
  border-radius: 16px;
  background-color: black;
  color:white;
  justify-content: space-around;
}

.tarjeta img {
  max-width: 20%;
  border-radius: 16px;
}

.encanezado-flexbox{
  background-color: #f4f4f4;
  margin-bottom: 25px;
  box-shadow:0px -6px 16px 18px rgba(0, 0, 0, 0.08);
  position: sticky;
}

.practica-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 25px 18px;
  align-items: row;
  list-style: none;
  flex-wrap: wrap;
}

/* TERMINA CSS BOX MODEL */


/* Bootstrap page */

.carousel-item h3 {
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 1vw;
}

.carousel-item p {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
    padding-left: 1vw;
}

.bg-black {
  background-color: black;
}
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-violet {
  background-color: violet;
}

.carrubg1 {
    background-image: url(../assets/img/ch-fondo-01.jpg);
}

.carrubg2 {
    background-image: url(../assets/img/ch-fondo-02.jpg);
}

.carrubg3 {
    background-image: url(../assets/img/ch-fondo-03.jpg);
}
.carrubgsize {
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    max-width: 80px;
}
/* //Bootstrap page */